doctype style
body {
  /*font-family: "Lucida Grande", Helvetica, Arial, sans-serif;*/
}
p,ul,button,input,label{
    font-size: 1.2em;
}
p{ 
    text-align: justify;
    max-width: 700px;
}

a {
    color: #00B7FF;
}
