doctype style

:root {
    --goldenRatio: 1.61803398875;
    --goldenLong: (1/var(--goldenRatio));
    --goldenShort: (1 - var(--goldenLong));
}


body {
    /*font-family: "Lucida Grande", Helvetica, Arial, sans-serif;*/
}
.row.no-pad {
  margin-right: 5px;
  margin-left: 5px;
}
.row.no-pad > [class*='col-'] {
  padding-right: 0;
  padding-left: 0;
}
.content{
    margin-top: 7.29vh;
    margin-right: 7.29vw;
    margin-bottom: 7.29vh;
    margin-left: 7.29vw;
}
.receive{
  color: green;
}
.withdraw{
  color: red;
}
form{
  padding: 2.13% 0px 2.13% 0px;
}
label{
    min-width:14.6%
}

p{ 
    text-align: justify;
    max-width: 900px;
    overflow-y: hidden;
    overflow-y: scroll;
}

a {
    color: #00B7FF;
}

span {
    padding: 0px 5px 0px 5px;
}

.loader {
  border: 5px solid #f3f3f3; /* Light grey */
  border-top: 5px solid #555; /* Blue */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
