doctype style
body {
  /*font-family: "Lucida Grande", Helvetica, Arial, sans-serif;*/
}
div,span,p,button,input,label{
    font-size: 20px;
}
p{ 
    text-align: justify;
    max-width: 700px;
}

a {
  color: #00B7FF;
}
