if current_user.address == data.user.address
    form(action = '/', method = 'GET', name='addCarbon')
        label(for='addCarbon') Add Carbon to your wallet
        span
            //label(for = 'carbon') Carbon :
            input(name = 'carbon' placeholder='Kg CO2e')
            button(type = 'submit') Submit
    script.
        //set action to current url
        $(document).ready(function(){
            document.querySelector('form[name=addCarbon]').action = window.location.href
        })