h2 Register your wallet
form(action = '/users', method = 'POST', name='signup', remote='true')
    div
       label(for = 'name') name:
       input(name = 'name' value = '')
    br
    div
       label(for = 'address') wallet: #{current_user.address}
       input(name = 'address' type="hidden" value=current_user.address )
    br
    button(type = 'submit') Sign Up