nav(class="navbar navbar-expand-lg navbar-light bg-light")
    a(class="navbar-brand" href='/') CAT
    form(class="form-inline")
        span(class="nav-item btn")
            a(href='/users') Users
        span(class="nav-item btn")
            a(href='/users/stampers') Stampers
    button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="true" aria-label="Toggle navigation")
        span(class="navbar-toggler-icon")

    div(class="collapse navbar-collapse" id="navbarSupportedContent")
        ul(class="navbar-nav mr-auto")
            li(class="nav-item btn")
            li(class="nav-item btn")