if current_user.address == data.user.address
    h3 Add Carbon to your wallet
    form(action = '/', method = 'GET', name='addCarbon')
        span
            //label(for = 'carbon') Carbon :
            input(name = 'carbon' placeholder='emission in kg CO2e')
            button(type = 'submit') Submit
    script.
        //set action to current url
        $(document).ready(function(){
            document.querySelector('form[name=addCarbon]').action = window.location.href
        })
br

if !data.stamper.exists && current_user.owner
    h3 Register #{data.user.name} as Stamper
    form(action = '/users/stamper/'+data.user.address, method = 'POST', name='addStamper') 
        label(for = 'stampRate') Stamp Rate :
        input(name = 'stampRate' placeholder='stamp rate kg/s')
        br
        label(for = 'minPayment') Minimum Payment :
        input(name = 'minPayment' placeholder='min payment $/kg')

        br
        input(name = 'stamper' type="hidden" value=data.user.address )
        button(type = 'submit') Submit
    br
            
    script.
        //set action to current url
        //$(document).ready(function(){
        //    document.querySelector('form[name=addStamper]').action = window.location.href
        //})
