if data.escrow.address != '0x0000000000000000000000000000000000000000'
  h3 Escrow Wallet Address: #{data.escrow.address}
  if data.escrow.transactions.length>0
    include transactions.pug

  form(action = "/users/"+data.user.address, method = 'GET', name='createTx')
    label(for = 'carbon') Send (+)/Receiv (-) carbon:
    input(name = 'carbon' Value='')
    br
    label(for = 'gold') Send (+)/Receiv (-) gold:
    input(name = 'gold' Value='')

    input(name = 'counterparty' type="hidden" value= data.user.address )
    button(type = 'submit') Send TX to #{data.user.name}

else if data.user.address != current_user.address
  form(name='createEscrow')
    input(name = 'counterparty' type="hidden" value= data.user.address )
    button(type = 'submit') 
      h3 Open escrow with #{data.user.name}