doctype html
html
  head
    title= site.title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh", crossorigin="anonymous")
    script(src="https://code.jquery.com/jquery-3.1.0.min.js")
    script(src="https://cdn.jsdelivr.net/gh/ethereum/web3.js@1.0.0-beta.34/dist/web3.min.js")
    script(src="/javascripts/MetaMask.js")
    script.
        MetaMask(!{JSON.stringify(contract)})
  body
    div(class="navBar")
        a(href='/') Home
    div(class="content")
        p(id='browser')
        block content

        hr
        div(id='metaMask')
        
