block content
    head
        script(src="/javascripts/search.js")
    h3 Find user by wallet
    div
      input(name = 'walletSearch' value= '(input address)')
      button(type = 'submit' id="searchSubmit") Search

    div(id="searchResult")